<div class="images-right">
    <img alt="bst" width = "320" height = "320" src="{{ "/assets/img/twitter.jpg" | prepend: site.baseurl }}" />
</div>

<div class="contents">
  <h3> Twitter Sentiment Calculator </h3>
  <ul>
    <li> CPSC-353 Spring 2021 </li>
  </ul>
  <p> This is a program written in Python that takes in two words, grabs the last 1000 tweets
    containing those words, and averages the total sentiment associated with those words
    via the AFINN-111.txt document. </p>
  <a class="project-link" target="_blank" href="https://github.com/coleternes/CPSC353-twitter">GitHub</a>
</div>
