<div class="images-right">
    <img alt="bst" src="{{ "/assets/img/war.jpg" | prepend: site.baseurl }}" />
</div>

<div class="contents">
  <h3> War Card Game Simulation </h3>
  <ul>
    <li> CPSC-231 Spring 2018 </li>
  </ul>
  <p> This is a Java program that can simulate thousands of concurrent games of the
    card game War. Once these siulations end, the program then calculates and outputs
    statistics for the user based on the results of the game. </p>
  <a class="project-link" target="_blank" href="https://github.com/coleternes/CPSC231-Assignment8-War-Simulation">GitHub</a>
</div>
