<div class="images-right">
    <img alt="bst" width = "320" height = "320" src="{{ "/assets/img/bst.png" | prepend: site.baseurl }}" />
</div>

<div class="contents">
  <h3> Binary Search Tree Database </h3>
  <ul>
    <li> CPSC-350 Fall 2019 </li>
  </ul>
  <p> This is a C++ program that implements 2 binary search trees to store Chapman Students
    and Faculty. The features of the database include editing, adding, and deleting members,
    as well as undoing any changes that were made to the database. </p>
  <a class="project-link" target="_blank" href="https://github.com/coleternes/CPSC350-Data-Structures/tree/main/A05-BST-Database">GitHub</a>
</div>
