<div class="images-right">
    <img alt="bst" src="{{ "/assets/img/disk.jpg" | prepend: site.baseurl }}" />
</div>

<div class="contents">
  <h3> Simulated Disk Scheduler </h3>
  <ul>
    <li> CPSC-380 Fall 2021 </li>
  </ul>
  <p> This is a program written in C that simulates servicing a disk with 1,000 cylinder
    requests. It implements the disk-scheduling algorithms FCFS, SSTF, SCAN, and C-SCAN
    while also comparing the number of page faults that occur for each algorithm. </p>
  <a class="project-link" target="_blank" href="https://github.com/coleternes/CPSC380-Operating-Systems/tree/main/A06-Disk-Scheduler">GitHub</a>
</div>
