<div class="images-right">
    <img alt="bst" src="{{ "/assets/img/alfalfa.jpg" | prepend: site.baseurl }}" />
</div>

<div class="contents">
  <h3> Martian Alfalfa Experiment </h3>
  <p> SCI-250 Spring 2020 </p>
  <p> This was an experiment that examined the growth of Alfalfa within various
    soils: sand as a control, Earth soil, and Martian soil. Unfortunately, before
    our group could gather data, the Covid-19 Pandemic hit, and we were forced to
    work with simulated data provided by our professor. My job in this team was to
    write the R code that would analyze the data and produce understandable graphs
    which would be attached to our final poster presentation. Both the poster and
    the award that my group had won can be viewed below. </p>
  <a class="project-link" target="_blank" href="https://github.com/coleternes/SCI250-Alfalfa-Analysis">GitHub</a>
  <a class="project-link" target="_blank" href="/assets/doc/alfalfa_poster.pdf">Poster</a>
  <a class="project-link" target="_blank" href="/assets/doc/alfalfa_award.pdf">Award</a>
</div>
