<div class="images-right">
    <img alt="bst" width = "320" height = "320" src="{{ "/assets/img/spin.jpg" | prepend: site.baseurl }}" />
</div>

<div class="contents">
  <h3> Spin App </h3>
  <p> SE-320 Spring 2021 </p>
  <p> This is a mobile application that spins a wheel to randomly select an element from a list,
    and was developed using the Unity engine over the course of a semester with a team of fellow
    engineers. My work primarily focused on the backend where I enabled a singleton design pattern
    which would allow users to create, edit, and delete their own lists. </p>
  <a class="project-link" target="_blank" href="https://github.com/micamarietta/SpinGit">GitHub</a>
</div>
