<div class="user-details">
  <h1> About Me </h1>
  <div class="images-right">
    <img alt="headshot" width = "320" height = "320" src="{{ "/assets/img/headshot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <p> {{site.user_description}} </p>
    <p> {{site.user_personality}} </p>
  </div>
</div>

<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <p> Programmed in C, C#, C++, CSS, Haskell, HTML, Java, MySQL, Python, and R. </p>
    <i class="devicon-c-plain colored"></i>
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-css3-plain colored"></i>
    <i class="devicon-haskell-plain colored"></i>
    <i class="devicon-html5-plain colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-r-original colored"></i>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p> Trained in Docker, Git, GitHub, Jenkins, Linux, Putty, RaspberryPi, Unity, Unix, and VisualStudio. </p>
    <i class="devicon-docker-plain colored"></i>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-github-original colored"></i>
    <i class="devicon-jenkins-plain colored"></i>
    <i class="devicon-linux-plain colored"></i>
    <i class="devicon-putty-plain colored"></i>
    <i class="devicon-raspberrypi-line colored"></i>
    <i class="devicon-unity-original colored"></i>
    <i class="devicon-unix-original colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
  </div>
</div>
