<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria_label="LinkedIn Link" target="_blank" href="https://www.linkedin.com/in/cole-dev-ternes/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Github Link" target="_blank" href="https://github.com/coleternes"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="Send email" href="mailto: ternes@chapman.edu"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Resume" target="_blank" href="/assets/doc/ColeTernes.pdf"><i class="icon fa fa-file-word-o" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <!--
        <a class="link" href="#testimonials" data-scroll>Testimonials</a>
        <a class="link" href="#blog" data-scroll>Blog</a>
        -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
