<div class="user-details">
  <ul class="naviagation-bar">
    <li class="naviagation-item"><a href="/">Home</a></li>
    <li class="naviagation-item"><a class="active" href="/projectspage.html">Projects</a></li>
    <li class="naviagation-item"><a href="/blogpage.html">Blog</a></li>
  </ul>

  <h1> All Projects </h1>
</div>

<div class="user-projects">
  {% include /projects/CPSC231-War-Sim.html %}

  {% include /projects/CPSC350-BST-DB.html %}

  {% include /projects/SCI250-Alfalfa.html %}

  {% include /projects/SE320-Spin-App.html %}

  {% include /projects/CPSC353-Twitter.html %}

  {% include /projects/CPSC380-Disk-Sched.html %}
</div>
