<div class="user-details">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a class="active" href="projectspage.html">Projects</a></li>
    <!--
    <li><a href="blogpage.html">Blog</a></li>
    -->
  </ul>

  <h1> All Projects </h1>
</div>


<!-- TODO: Add Links at top of the page -->
<!-- TODO: CPSC-354 HW -->
<!-- TODO: PP Snake -->
<!-- TODO: PP Rocket Launch Game -->

<div class="user-projects">
  {% include /projects/CPSC231-War-Sim.html %}

  {% include /projects/CPSC350-BST-DB.html %}

  {% include /projects/SCI250-Alfalfa.html %}

  {% include /projects/SE320-Spin-App.html %}

  {% include /projects/CPSC353-Twitter.html %}

  {% include /projects/CPSC380-Disk-Sched.html %}
</div>
