<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}

      <section id="about">
        {% include about.html %}
      </section>

      <section id="projects">
        {% include projects_preview.html %}
      </section>

      <section id="testimonials">
        {% include testimonials.html %}
      </section>

      <section id="blog">
        {% include blog_preview.html %}
      </section>

        {{ content }}
      {% include footer.html %}
  </body>
